.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-create {
    background-color: rgb(178, 178, 178);
    border-radius: 2px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-create h3 {
    text-align: center;
}