/* styles.css */

.container-home {
    min-height: calc(100vh - 100px);
    /* Adjust 100px to match the height of your header */
    overflow-y: auto;
    /* Enable vertical scroll */
    max-width: 800px;
    margin: 0 auto;
    /* Adjust 50px to match the height of your footer */
}

.card-container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card-home {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(50% - 10px);
    /* 50% width with a gap of 20px */
}

.card-home h2 {
    margin-top: 0;
}

.card-home p {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination__link {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination__link--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pagination__link--active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}


/* Additional styles for Header and Footer if needed */